{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
Lorem kokotina prijebana nieco som tu potgreboval proste napisat a nic sa mi nechcelo kopirotvat   internetu
{% endblock %}